* {
  box-sizing: border-box;
}

h1 {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 85px;
  font-size: 50px;
  text-align: center;

  border: 7px solid black;
}

.menu {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;

  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2dfdfe4;
  border-radius: 10px;
}

.menu_word {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-family: "Helvetica";
  color: #58595B;
  text-decoration: none;

  line-height: 50px;
}

.album{
  margin: 0 auto;
  height: 400px;
  width: 600px;
  overflow: hidden;
}

.images{
  position: relative;
  display: flex;
}

img{
  width: 600px;
  height: 100%;
}

/* .pic {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: %;
} */

.button{
  width: 600px;
  margin: 3px auto;
}

button, button:active, button:focus {
  width: 100px;
  height: 30px;
  border: none;
  color: white;
  background-color: teal;
  outline: none;
}

button:hover {
  background-color: turquoise;
}

button:disabled {
  background-color: gray;
}

.prev {
  float: left;
}

.next {
  float: right;
}

#weather {
  position: relative;
  top: -720px;
  left: 730px;
}